{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

    <h1>{{ post.title|capfirst }}</h1>
    <small>By: 
        {{ post.author.first_name|capfirst }} 
        {{ post.author.last_name|capfirst }} - 
        {{post.post_date}} 

        <small>

            {% if user.is_authenticated and user.id == post.author.id %}
                - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}

        </small><br/>
    <hr>
    <br/>
    {% if post.header_image %}
    <img src="{{ post.header_image.url }}" <br/><br/>
    {% endif %}
    {{ post.body|safe }}
   

    <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-dark">Back</a>

    <br/><br/>
    <hr>
    <br/>
    <form action="{% url 'like_post' post.pk %}"
    method="POST">
        {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}

            <button type="'submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
            <button type="'submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>

        {% endif %}
    {% else %}
        <a href={% url 'login' %}><button type="button" class="btn btn-primary"style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Login</button></a><small> to like</small>
    {% endif %}
        - {{ total_likes }}
    {% if total_likes == 1 %} Like
    {% else %} Likes
    {% endif %}
    </form>

{% endblock %}