{% extends 'base.html' %}

{% block content %}


<h1>Posts</h1>

<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">
    {{post.title|capfirst }}</a>
     - <a href ="{% url 'category' post.category|slugify %}">{{ post.category|title }}</a>
     - {{ post.author.first_name|capfirst }} {{ post.author.last_name|capfirst }}
     - {{ post.post_date}} 
    <small>

        {% if user.is_authenticated and user.id == post.author.id %}
            - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
    
            <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        {% endif %}
    </small> <br/>
    {{ post.snippet }}
    </li>
{% endfor%}
</ul>

{% endblock %}